<div class="app-loader" *ngIf="spinner"><i class="icofont-spinner-alt-4 rotate"></i></div>
<form [formGroup]="loginForm" novalidate>
  <tc-alert *ngIf="showError" [removable]="true" [view]="'error'">
    Invalid credentials. Please try again.
  </tc-alert>
  <tc-form-group>
    <tc-input [placeholder]="'Login'" formControlName="username"></tc-input>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="password"></tc-input>
  </tc-form-group>

  <!-- <tc-form-group>
    <tc-switcher [value]="true">Remember me</tc-switcher>
  </tc-form-group> -->

  <div class="actions justify-content-between">
    <button tc-button [view]="'accent'" (click)="login()" class="w-100">
      Login
    </button>
  </div>
</form>
