@import '../../../../assets/sass/variables';

.chart-container {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
  @media #{$max767} {
    height: 300px;
  }

  canvas {
    margin: 0 auto;
    max-height: 100%;
    width: auto !important;
  }
}
:host /deep/ {
  .amcharts-graph-g2 .amcharts-graph-stroke {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: am-moving-dashes 1s linear infinite;
  }
  @keyframes am-moving-dashes {
    100% {
      stroke-dashoffset: -31px;
    }
  }

  .lastBullet {
    animation: am-pulsating 1s ease-out infinite;
  }
  @keyframes am-pulsating {
    0% {
      stroke-opacity: 1;
      stroke-width: 0px;
    }
    100% {
      stroke-opacity: 0;
      stroke-width: 50px;
    }
  }

  .amcharts-graph-column-front {
    transition: all .3s .3s ease-out;
  }
  .amcharts-graph-column-front:hover {
    fill: #496375;
    stroke: #496375;
    transition: all .3s ease-out;
  }

  .amcharts-graph-g3 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    animation: am-draw 40s;
  }
  @keyframes am-draw {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
}

.h-100{
  height: 100%;
}

.bg-white{
  background-color: #fff !important;
  background: #fff !important;
}

.announcement-wrap{
  background-color: #FFDCC9;
  width: 100%;
  height: 100%;
  padding: 10px 20px;

  &-body{

    &-block{
      padding-left: 10px;
      border-left: 3px solid #F5C0A1;
      h5{
        font-size: 16px;
      }
    }
  }
}

.performance-wrap{
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px 20px;

  &-body{

    &-block{
      padding-left: 10px;
      border-left: 3px solid #F5C0A1;
      h5{
        font-size: 16px;
      }
    }
  }
}

.border{
  &-white{
    border-bottom: 1px solid #fff;
  }

  &-blue{
    &-light{
      border-bottom: 1px solid #DBEBF2;
    }
  }
}


/* Pie Chart */
.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D3DFEF;
  position: relative;
  
  display: inline-block;
}
.progress-pie-chart.gt-50 {
  background-color: #0371D5;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #0371D5;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #D3DFEF;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #0371D5;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 10px;
}


// Side Tabs

