<div class="row mb-3">
  <div class="col">
    <h3 class="">HOME</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Import ID
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
           Manifest
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Service Voucher
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Shift Outturn
          </tc-alert>
        </tc-card>
      </div>
    </div>
      
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Operation Pirticular
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Vessel Movement
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Planner Handover
          </tc-alert>
        </tc-card>
      </div>
      <div class="col-lg-3">
        <tc-card [title]="''">
          <tc-alert [removable]="true" class="mb-4 bg-white">
            Sailed vessel report
          </tc-alert>
        </tc-card>
      </div>
    </div>
  </div>
</div>


<div class="row mb-4">
  <div class="col-lg-4">
    <div class="announcement-wrap">
      <div class="announcement-wrap-head py-3">
        <div><strong>Announcement</strong></div>
      </div>
      <hr class="bg-white border-white">
      <div class="announcement-wrap-body">
        <div class="announcement-wrap-body-block">
          <div><h5 class="mb-1">DELAY</h5></div>
          <div><strong>Vessel name:</strong> MV Tamar will be arriving late, New ETA will be</div>
          <div><strong>11/02/2020 11:55 am</strong></div>
        </div>

        <div class="announcement-wrap-body-block">
          <div><h5 class="mb-1">SYSTEM MAINTENANCE ON 20/06/202011:00 to 12:00</h5></div>
          <div>Due to scheduled system maintenance our site will be temporarily unavailable. We apologize in advance for any inconvenience this may cause</div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-8 bg-white align-self-center">
    <div class="performance-wrap">
      <div class="performance-wrap-head py-3">
        <div><strong>Overall Performance</strong></div>
      </div>
      <hr class="bg-white border-blue-light">
      <div class="row">
        <div class="col-lg-4 text-center">
        <div class="progress-pie-chart">
          <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span class="days">60</span>
            </div>
          </div>
        </div>
        <p class="text-center">No of vessels in open status</p>
        </div>

        <div class="col-lg-4 text-center">
          <div class="progress-pie-chart">
            <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span class="days">1,752</span>
              </div>
            </div>
          </div>
          <p class="text-center">Tonnage Loading</p>
        </div>

        <div class="col-lg-4 text-center">
          <div class="progress-pie-chart">
            <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span class="days">14,450</span>
              </div>
            </div>
          </div>
          <p class="text-center">Tonnage Discharging</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-4">
    <div class="bg-white h-100">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <tc-card class="bg-white">
      <div echarts [options]="hsOptions" class="chat-container container-h-400"></div>
    </tc-card>
  </div>
</div>

