<tc-card class="mb-0">
  <tc-table [rows]="tableData" [hovered]="true">
    <tc-table-col [columnTitle]="'VESSEL ID'" [columnName]="'vesselId'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'VESSEL NAME'" [columnName]="'vesselName'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'VESSEL CODE'" [columnName]="'vesselCode'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'TYPE'" [columnName]="'type'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'MAX TEUS'" [columnName]="'maxTeus'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'CARGO TYPE'" [columnName]="'cargoType'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'STATUS'" [columnName]="'status'" [enableFiltering]="true"></tc-table-col>
  </tc-table>
</tc-card>
