<tc-card class="mb-0" *ngIf="tableData">
  <tc-table [rows]="tableData" [pagination]="true" [hovered]="true">
    <tc-table-col [columnTitle]="'SCN'" [columnName]="'scn'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'VESSEL NAME'" [columnName]="'vesselName'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'ATA'" [columnName]="'ata'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'TYPE'" [columnName]="'type'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'ETA'" [columnName]="'eta'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'ETB'" [columnName]="'etb'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'CARGO NAME'" [columnName]="'cargoName'" [enableFiltering]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'STATUS'" [columnName]="'status'" [enableFiltering]="true"></tc-table-col>
  </tc-table>
</tc-card>
